{% extends 'base.html' %}


{% block content %}
	{% for post in posted %}
	<!--{% url 'posted:post_detail' pk=post.pk %}-->
		<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1> 
		<p>{{ post.content|linebreaksbr }}</p>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posted.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posted.previous_page_number }}">
            <!--<a href="?{{ page_request_var }}={{ posts.previous_page_number }}">	-->
            previous</a>
        {% endif %}

        <span class="current">
            Page {{ posted.number }} of {{ posted.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posted.next_page_number }}">next</a>
            <a href="?page={{ posted.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
 
 

{% endblock %}            